<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
  </head>
  <body>
    
    <div class="header">
      <h1>Jessica Anderson</h1>
    </div>
    
    <div class="bio">
      <p>Hello! Im Jessica Anderson. I am twenty-one. I am studying Computer Science and I am in my third year. I like animals, art and video games. My favourite food is shrimp. I have a typing speed of 96 words per minute on an average day.</p>
    </div>
    
    <div class="image-container">
      <img src="{{ url_for('static', filename='cat.png') }}" alt="Cat Image">
    </div>
    
  </body>
</html>
